#IP RELATED THINGS
ALLOWED_HOSTS=localhost,127.0.0.1,simplistic-pokier-melania.ngrok-free.dev,10.10.10.69
CSRF_TRUSTED_ORIGINS=http://localhost:5173


#ADMIN PANEL LOGIN CREDENTIALS
ADMIN_PANEL_EMAIL=
ADMIN_PANEL_PASSWORD=

#Postgres DB configuration
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

#Email service configuration
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

#Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379

#Frontend connection
FRONTEND_URL=http://localhost:5173


#Google OAuth credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#stripe 
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

#others
DEBUG=False
SECRET_KEY=

#ai integration
AI_PROVIDER=gemini
GEMINI_API_KEY=
GEMINI_MODEL=gemma-4-26b-a4b-it
AI_ENABLED=true #values 'true' or 'false'

#aws s3 bucket 
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=

#testing
MOCK_RESPONSE_DELAY=0 #in seconds
USE_MOCK_AI=false #set "true" to enable
FORCE_AI_ERROR=false #values -> quota or unavilable

